
body{
    background-color: #ffffff;
    line-height: 1.4em;
    margin: 0;
}

.container{
    width: 100%; /* making the text adaptive */
    margin: auto;  /*pushing text to middle*/
}

.text1{
    font-style: normal;
    color:#0F245A;
    text-align: center;
    display: inline-block;
}

 /* adding style to class */
.box-1{
    background-color:#0F245A;
    color: #fff;

    border-width: 3%; /* setting border width */
    border-bottom-width: 5%; /* border all sides 3, but bottom 5 */
    padding:0.5%;

    /* margin: 0px; distance from the sides of the page */
}

.box-1 h1{
    font-family: 'Ruda';font-size: 225%; font-weight: bold;
    font-weight: 50;
    font-style: normal;
    text-align: center;
    margin-top: 1%; /*adjusts h1 relative to top  */
}

.heading{
    font-style: normal;
    color:#0F245A;
    text-align: left;
    margin-top: 6%;
    margin-left: 25%;
}

.boxes{
    background-color:#ffffff;
    margin: 2%;
  padding: 2%;
  text-align: center;
}

.box-2{
    display: inline-block;
    background-color:#0F245A;
    color: #fff;
    aspect-ratio: 1;
    width: 13%;
    border-radius: 10%;
    margin-top: 1%;
    font-weight: 100;
    font-style: normal;
    padding-top: 0.5%;
    margin-left: 5%;
}
 .box-2 h2{
    font-family: 'Poppins';font-size: 125%; font-weight: bold;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 30%;
    resize: vertical;
    
}

.inline
{
        display:inline-block;
}



