.nav-container{
    display: flex;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color:#0F245A;
}

.AMS-icon{
    width: 70px;
    height: 70px;
    margin-left: 30px;
}

.siderbar-slider{
    display: none;
}

.dropdown > ul > li:hover{
    cursor: pointer;
}

@media (max-width: 1150px) {
    .AMS-icon{
        display: none;
    }
    
    .siderbar-slider{
        display: block;
        width: 70px;
        height: 70px;
        margin-left: 2%;
    }
}