
body{
    background-color: #ffffff;
    line-height: 1.4em;
    margin: 0;
}

.container{
    width : 200px;
    width: 80%; /* making the text adaptive */
    margin: auto;  /*pushing text to middle*/
}

.text1{
    font-style: normal;
    color:#0F245A;
    text-align: center;
    display: inline-block;
}

.clr{
    clear: both;
}
 /* adding style to class */
.box-1{
    background-color:#0F245A;
    color: #fff;

    border-width: 3px; /* setting border width */
    border-bottom-width: 5px; /* border all sides 3, but bottom 5 */
    padding:2px;

    margin: 0px; /* distance from the sides of the page */
}

.box-1 h1{
    font-family: 'Ruda';font-size: 40px; font-weight: bold;
    font-weight: 50;
    font-style: normal;
    text-align: center;

    margin-top: 10px; /*adjusts h1 relative to top  */
}

.text{
    font-style: normal;
    color:#0F245A;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* .text2{
    font-style: normal;
    color:#0F245A;
    margin-top: 2%;
    margin-bottom: 5% ;
} */

.box-2{
    background-color:#0F245A;
    color: #fff;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    margin-top: 3%;
}

.box-2 h1{
    font-family: 'Ruda';font-size: 20px; font-weight: bold;
    font-weight: 20;
    font-style: normal;
    text-align: center;
    padding-top: 10px;
}

.box-3{
    background-color: #E0E5E8;
    color: #0F245A;
    width: 800px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.inline
{
        display:inline-block;
        width:33%
}
.box-3 h2{
    font-family: 'Poppins';font-size: 22px; font-weight: bold;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    padding-top: 0.1px;
}

.box-4{
    margin-top: 2px;
    background-color: #E0E5E8;
    color: #0F245A;
    width: 800px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.box-4 h2{
    font-family: 'Poppins';font-size: 22px; font-weight: bold;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding-top: 0.1px;
}

.box-5{
    margin-top: 2px;
    background-color: #E0E5E8;
    color: #0F245A;
    width: 800px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.box-5 h2{
    font-family: 'Poppins';font-size: 22px; font-weight: bold;
    font-weight:500;
    font-style: normal;
    text-align: center;
    padding-top: 0.1px;
}

.box-6{
    margin-top: 2px;
    background-color: #E0E5E8;
    color: #0F245A;
    width: 800px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.box-6 h2{
    font-family: 'Poppins';font-size: 22px; font-weight: bold;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding-top: 0.1px;
}

.box-7{
    margin-top: 2px;
    background-color: #E0E5E8;
    color: #0F245A;
    width: 800px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.box-7 h2{
    font-family: 'Poppins';font-size: 22px; font-weight: bold;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding-top: 0.1px;
}

.box-8{
    margin-top: 2px;
    background-color: #E0E5E8;
    color: #0F245A;
    width: 800px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.box-8 h2{
    font-family: 'Poppins';font-size: 22px; font-weight: bold;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding-top: 0.1px;
}

