body{
    background-color: #ffffff;
    line-height: 120%;
    margin: 0;
}

.container{
    width: 100%; /* making the text adaptive */
    margin: auto;  /*pushing text to middle*/
}

.box-1{
  background-color:#0F245A;
  color: #fff;

  border-width: 3%; /* setting border width */
  border-bottom-width: 5%; /* border all sides 3, but bottom 5 */
  padding:0.5%;
   
}

.box-1 h1{
  font-family: 'Ruda';font-size: 225%; font-weight: bold;
  font-weight: 50;
  font-style: normal;
  text-align: center;

  margin-top: 1%; /*adjusts h1 relative to top  */
}
.Heading1{
    font-style: normal;
    color:#f9f9f9;
    background-color: #0F245A;
    text-align: center;
    width: 20%;
    aspect-ratio: 10;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    /* padding-bottom: 0.5%; */
    padding-top: 0.5%;
    
}

.Heading1 h2{
    font-family: 'Ruda';font-size: 125%; font-weight: bold;
    font-weight: 50;
    font-style: normal;
      margin: auto;
    justify-content: center;
  }

.Heading2{
    font-style: normal;
    color:#0F245A;
    text-align: left;
    margin-top: 5%;
    margin-left:23%;
    margin-bottom: 3%;
}
  .days {
    width: 120%;
    text-align: center;
    margin-left:45%;

  }
  
  .day {
    width: 15%;
    background-color: #efeff6;
    padding-bottom:5%;
    padding-left: 1%;
    padding-right: 1%;
    float:left;
    margin-right:2%;
  }
  
  .datelabel {
    margin-bottom: 15%;
  }
  
  .timeslot {
    background-color: #0F245A;
    width: auto;
    height: 5%;
    color: white;
    padding:5%;
    margin-top: 5%;
    font-size: 100%;
    border-radius: 5%;
    vertical-align: center;
    text-align:center;
  }
  
  .timeslot:hover { 
    background-color: #0f0b44;
    cursor: pointer;
  }

  .Heading3{
    font-style: oblique;
    color:#f9f9f9;
    background-color: #0F245A;
    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-top: 0%;

    padding-bottom: 0.5%;
    padding-top: 0.5%;
  }

.Heading3 h3{
    font-family: 'Ruda';font-size: 125%; font-weight: bold;
    font-weight: 50;
    font-style: normal;
    margin: auto;
    justify-content: center;
}

  .SendReq{
    font-style: normal;
    color:#f9f9f9;
    background-color: #0F245A;
    text-align: center;
    width: 12%;
    aspect-ratio: 8;
    margin-top: 1%;
    margin-left: 70%;
    border-radius: 5%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    
  }

  .SendReq h4{
    font-family: 'Ruda';font-size: 120%; font-weight: bold;
    font-weight: 500;
    font-style: normal;
    margin: auto;
    justify-content: center;
  }
