
body{
    background-color: #ffffff;
    line-height: 1.4em;
    margin: 0;
}

.container{
    width : 200px;
    width: 80%; /* making the text adaptive */
    margin: auto;  /*pushing text to middle*/
}

.text1{
    font-style: normal;
    color:#0F245A;
    text-align: center;
    display: inline-block;
}

 /* adding style to class */
.box-1{
    background-color:#0F245A;
    color: #fff;

    border-width: 3px; /* setting border width */
    border-bottom-width: 5px; /* border all sides 3, but bottom 5 */
    padding:2px;

    margin: 0px; /* distance from the sides of the page */
}

.box-1 h1{
    font-family: 'Ruda';font-size: 40px; font-weight: bold;
    font-weight: 50;
    font-style: normal;
    text-align: center;

    margin-top: 10px; /*adjusts h1 relative to top  */
}

.heading{
    font-style: normal;
    color:#0F245A;
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
}

.boxes{
    background-color:#ffffff;
    margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.box-2{
    display: inline-block;
    background-color:#0F245A;
    color: #fff;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    margin-top: 1%;
    font-family: 'Poppins';font-size: 20px; font-weight: bold;
    font-weight: 100;
    font-style: normal;
    padding-top: 20px;
    margin-left: 5%;
}
 .box-2 h2{
    font-family: 'Poppins';font-size: 20px; font-weight: bold;
    font-weight: 20;
    font-style: normal;
    text-align: center;
    padding-top: 50px;
    
}

/* .box-3{
    background-color:#0F245A;
    color: #fff;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    margin-top: 3%;
}

.box-3 h2{
    font-family: 'Poppins';font-size: 20px; font-weight: bold;
    font-weight: 20;
    font-style: normal;
    text-align: center;
    padding-top: 80px;
    
} */

.inline
{
        display:inline-block;
}



