.announcementListStudent {
    width: 98%;
    margin-top: 3%;
    max-height: 100%;
    overflow-y: scroll;
}

#col7{
    transition: ease all .5s;
    margin-left:350px
}

@media (max-width: 1150px){
    #col7{
        transition: ease all .5s;
        margin-left: 0;
    }
}