.bar{
    position: fixed;
    float: left;
    left: 0px;
    top: 0px;
    border-right: 1px solid black;
    width: 25%;
    height: 100%;
    background-color: aqua;
}

.item{
    display: flex;
    margin-top: 15%;
    margin-bottom: 15%;
    align-items: center;
}

.click-items{
    margin-left: 10%;
    font-size: 20px;
    text-decoration: underline; 
}
.click-items:hover{
    cursor: pointer;
}

.icon {
    transform: scale(2.5);
}

@media (max-width: 1000px) {
    .bar{
        display: none;
    }
}