body{
    background-color: #ffffff;
    line-height: 1.4em;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color:red;
}

.texxt{
    font-style: normal;
    color:#0F245A;
    text-align: center;
}

.button{
    background-color: #ffffff;
    color: #0F245A;
    padding: 10px 15px;
    border-radius: 30%;
    text-align: center;
    margin-top: 10px;
}

.clr{
    clear: both;
}

.box-1{
    background-color:#0F245A;
    color: #fff;
    border-width: 3px;
    border-bottom-width: 5px;
    padding:2px;
    margin: 0px;
}

.box-1 h1{
    font-family: 'Ruda';font-size: 40px; font-weight: bold;
    font-weight: 50;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
}

.categories{
    border: 1px #333333 solid;
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(0, 247, 255);
    padding-bottom: 1px;
    margin: 20px 0;
}

.categories h2{
    text-align:left;
}

.categories ul{
    padding: 10px;
    list-style:square;
}

.categories li{
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: dotted 1px #333;
}

.p-box{
    width: 120px;
    height: 120px;
    margin-top: 60px; 
    position: relative;
    background-image:url('../../../../public/AMS.png');
    background-size: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.my-form{
    padding: 10px;
    margin-top: 30px;
    border-radius: 20%;

    text-align: center;
}

.my-form .form-group{
    padding-bottom: 10px; 
}

.my-form label{
    display: block;
}

.block{
    float:left;
    width: 33%; 
    border:1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; 
}

#main-block{
    width: 50%;
}

#main-block{
    float: left;
    width: 70%;
    box-sizing: border-box;
}

#side-bar{
    float: right;
    width: 30%;
    background-color: #000;
    color: aqua;
    padding: 15px;
    box-sizing: border-box;
}

.fix-me{
    position: fixed;
    top: 400px;
}

.my-list li:first-child{
    background: red
}

.my-list li:last-child{
    background: blue;
}

.my-list li:nth-child(5){
    background: yellow;
}

.my-list li:nth-child(even){
    background: greenyellow;
}

.tabs{
    border: 1px blue solid;
}

.nav-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color:#0F245A;
}

.AMS-icon{
    width: 70px;
    height: 70px;
    margin-left: 30px;
    margin-bottom: 12px;
    margin-top: 12px;
}