.nav-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color:#0F245A;
}

.AMS-icon{
    width: 70px;
    height: 70px;
    margin-left: 30px;
}

.dropdown-menu>li>a {
    font-size: 25px;
}
.dropdown-menu>li>a>span{
    font-weight: bold;
}